  :root {
      --Primary: #333333;
      --Accent: #FF8C00;
      --Background: #F5F5DC;
      --Highlight: #8FBC8F;
      --green: #4CAF50;
      --h1: "Grandstander", cursive;
      --h2: "Cinzel", serif;
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Quicksand", sans-serif;
      /* h1 font-family: "Grandstander", cursive; */
  }
  .speciesCard {
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      margin: 20px;
      background-color: var(--Highlight);
      padding:10px;
      z-index: 9999;
  }

  .card-img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius:20px ;
  }

  .card-content {
      padding: 10px;
      background-color:var(--Background);
  }

  .card-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      color: var(--Accent);
  }

  .card-text {
      font-size: 16px;
      color: #666;
      margin-bottom: 20px;
  }

  .card-details {
      display: flex;
      flex-wrap: wrap;
  }

  .detail {
      display: flex;
      align-items: center;
      margin-right: 20px;
      margin-bottom: 10px;
  }

  .detail i {
      margin-right: 5px;
      color: var(--green);
      font-size: 20px;
      padding:10px;
  }.speciesCard {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.speciesCard.visible {
    opacity: 1;
    transform: translateY(0);
}