:root {
    --Primary: #333333;
    --Accent: #FF8C00;
    --Background: #F5F5DC;
    --Highlight: #8FBC8F;
    --green: #4CAF50;
    --h1: "Grandstander", cursive;
    --h2: "Cinzel", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    /* h1 font-family: "Grandstander", cursive; */
}

.about-section {
    background: url(./assets/image/aboutImage.jpg);
    width: 100%;
    height: 50dvh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-info h1 {
    font-family: var(--h1);
    padding: 10px;
}




.reason {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Center elements horizontally */
    border-radius: 20px;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0 0 3px #00000078;
    /* border-bottom: 1px solid var(--Highlight); */
}

.reason p {
    font-size: 1.2rem;
}

.reason-img {
    /* Default image size for smaller screens */
    max-width: 100%;
    /* Ensure image doesn't exceed container width */
}

@media (min-width: 768px) {

    /* Adjust breakpoint as needed */
    .reason-img {
        max-width: 50%;
        /* Reduce image size on medium and larger screens */
    }
}

@media (min-width: 992px) {

    /* Adjust breakpoint as needed */
    .reason-img {
        max-width: 50%;
        /* Further reduce image size on larger screens */
    }
}

#about h3 {
    font-family: var(--h2);
    font-weight: 900;
    padding: 15px;
    font-size: 3rem;
}

#about h4 {
    color: #FF8C00;
    font-weight: 900;
    font-size: 2rem;
}
/* GetInvolved.css */
.get-involved {
    padding: 60px 20px;
    text-align: center;
    background-color: var(--Background);
    border-radius: 20px;
}

.get-involved .container {
    max-width: 1200px;
    margin: 0 auto;
}

.get-involved h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.get-involved p {
    font-size: 1.25rem;
    margin-bottom: 40px;
    color: #666;
}

.get-involved .cta-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.get-involved .btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/* Responsive Styles */
@media (max-width: 768px) {
    .get-involved h2 {
        font-size: 2rem;
    }

    .get-involved p {
        font-size: 1rem;
    }

    .get-involved .btn {
        width: 100%;
        padding: 15px 0;
    }
}