:root {
    --Primary: #333333;
    --Accent: #FF8C00;
    --Background: #F5F5DC;
    --Highlight: #8FBC8F;
    --green: #4CAF50;
    --h1: "Grandstander", cursive;
    --h2: "Cinzel", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    /* h1 font-family: "Grandstander", cursive; */
}
.species-section{
    background: url(./assets/image/species.jpg);
    width: 100%;
    height: 50dvh;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.button-group {
    display: flex;
    justify-content: center;
    margin: 20px;
    overflow: hidden;
}

.button-group button {
    margin: 0 10px;
    padding: 10px 20px;
    /* border: 1px solid var(--Accent); */
    background-color: transparent;
    /* color: var(--Accent); */
    border: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    /* border-radius: 5px; */
    transition: all 0.5s ease;
}

.button-group button:hover , .button-group .active{
    border-bottom: 1px solid var(--Accent);
        /* background-color: var(--Accent); */
    color: var(--Accent);
}

 .speciesCard {
     border-radius: 10px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     margin: 20px;
     background-color:#f8fef1;
     padding: 10px;
 }

 .card-img {
     width: 100%;
     height: 300px;
     object-fit: cover;
     border-radius: 20px;
 }

 .card-content {
     padding: 10px;
     background-color:#f8fef1;
 }

 .card-title {
     /* font-size: 26px; */
     font-weight: bold;
     margin-bottom: 10px;
     color: var(--Accent);
 }

 .card-text {
     font-size: 16px;
     color: #666;
     margin-bottom: 20px;
 }

 .card-details {
     display: flex;
     flex-wrap: wrap;
 }

 .detail {
     display: flex;
     align-items: center;
     margin-right: 20px;
     margin-bottom: 10px;
 }

 .detail i {
     margin-right: 5px;
     color: var(--green);
     font-size: 20px;
     padding: 10px;
 }